.elements {
    max-width: 880px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(2, min-content);
    gap: 20px 17px;
    margin: 0 auto;
}

@media screen and (max-width:900px) {
    .elements {
        max-width: 768px;
    }
}

@media screen and (max-width:790px) {
    .elements {
        max-width: 594px;
        min-height: 150vh;
        grid-template-columns: repeat(2, min-content);
        grid-template-rows: repeat(4, min-content);
        gap: 20px 30px;
    }
}
@media screen and (max-width:620px){
    .elements {
        max-width: 282px;
        min-height: 300vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, min-content);
        gap: 20px 0px;
    }
}
