.profile__user-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 9px;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
}

@media screen and (max-width:620px) {
    .profile__user-name {
        text-align: center;
        margin-left: 46px;
        margin-bottom: 7px;
        font-size: 27px;
        line-height: 33px;
        max-width: 189px;
        width: 100%;
    }
}